/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* TEMP */
img {
  max-width: 100%;
}

 /* Global Styles */
html {
  margin: 0 auto;
  width: 900px;
  background-color: white;
}
body {
  background-color: #b6f4f2;
}
.star {
  background-image: url('/Star.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.no-star {
  background-image: url('/StarEmpty.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Header Styles */
header.main-header {
  display: block;
  background-color: #363636;
}
header.main-header h1 {
  margin: 0 0;
  text-align: left;
  margin: 10px 20px;
}
header.main-header td {
  vertical-align: middle;
  white-space: nowrap;
  color: #ff4081;
  padding: 0 20px;
  border-left: solid 2px white;
  text-align: center;
}
header.main-header td:hover {
  background-color: #5d5d5d;
}
header.main-header td:first-of-type {
  width: 100%;
  color: #b6f4f2;
  padding-left: 0;
  border-left: 0;
}
header.main-header td:first-of-type:hover {
  background-color: rgba(0,0,0,0);
}
header.main-header a {
  color: #ff4081;
  text-decoration: none;
  display: inline-block;
}
header.main-header a:visited {
  color: #ff4081;
}
header.fancy-header {
  background-image: url('/GigHeader.png');
  background-size: 100% auto;
  height: 265px;
}
header.fancy-header form {
  position: relative;
  top: 50%;
  text-align: center;
}
header.fancy-header input[type=text] {
  border: 0;
  padding: 2px 5px;
  background-color: #ececec;
  height: 35px;
  width: 200px;
  top: -11px;
  position: relative;
}
header.fancy-header button {
  margin-left: -5px;
  background-color: #ff4081;
  border: 0;
  padding: 0 2px;
}
header.fancy-header img {
  height: 35px;
}

/* Footer Styles */
footer.main-footer {
  margin-top: 25px;
}
footer.main-footer img {
  margin-top: 4px;
  width: 100%;
}

/* Messages */
div.messages {
  position: absolute;
  top: 45px;
  padding-left: 10px;
}
p.alert {
  color: red;
}
p.notice {
  color: lime;
}

/* Gig Cards */
article.gig-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}
article.gig-cards div {
  background-color: #ececec;
  margin: 25px 25px;
  width: 40%;
  padding: 10px 10px;
  position: relative;
}
article.gig-cards img {
  width: 40%;
  float: left;
}
article.gig-cards h3 {
  margin: 0;
}
article.gig-cards p.gig-small {
  margin: 0;
  font-size: 0.75em;
}
article.gig-cards p {
  font-size: 0.85em;
}
article.gig-cards table {
  width: 100%;
  table-layout:fixed;
  font-size: 0.75em;
}
article.gig-cards td {
  width: 22px;
  height: 22px;
  white-space: nowrap;
  overflow: scroll;
  vertical-align: middle;
}
article.gig-cards td:last-of-type {
  width: 100%;
}
article.gig-cards form {
  height: 40px;
}
article.gig-cards input[type=submit] {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff4081;
  border: 0;
  padding: 11px 14px;
  color: #b6f4f2;
  font-weight: bold;
}

/* Gig Form */
table.gig-form {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 25px 0;
  width: 80%;
}
table.gig-form td {
  width: 50%;
}
table.gig-form tr:nth-of-type(even) td {
  background-color: #ececec;
}
table.gig-form select {
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,0);
  border: 0;
  padding: 8px;
}
table.gig-form option {
  overflow: scroll;
}
table.gig-form option:checked {
  /* workaround from https://www.speich.net/articles/en/2014/01/23/css-trick-setting-background-color-of-a-selected-html-option-element/ */
  background: #ff4081 repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P879D4HwAGxwLBvwZM0AAAAABJRU5ErkJggg==");
}
table.gig-form option:hover {
  background-color: #ff80ab;
}
table.gig-form input[type='submit'] {
  width: 100%;
  height: 75px;
  border: 0;
  font-size: 1.25em;
  background-color: #ff4081;
  font-weight: bold;
}